.home-wrapper {
    display: flex;
    max-width: 1080px;
    margin: 0 auto;
    height: 100%;
    padding: 40px 20px;
    overflow-x: auto;
    .side-menu {
        flex: 0 0 260px;
        background-color: #fff;
        margin-right: 26px;
        border-radius: 8px;
    }
    .messenger-wrapper {
        background-color: #fff;
        flex: 1;
        border-radius: 8px;
        min-width: 600px;
    }
}